<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.gedzis.memory" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:anyDensity="true" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:allowClearUserData="true">
		<!--Base activities  -->
		<activity android:name=".MemoryActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.GameSettingsActivity"
			android:label="@string/app_name" android:screenOrientation="portrait" />
		<activity android:name=".activity.NewGameSelectionActivity"
			android:label="@string/app_name" android:screenOrientation="portrait" />
		<activity android:name=".activity.LocalHighScoreActivity"
			android:label="@string/app_name" android:screenOrientation="portrait" />

		<!--Card game activities  -->
		<activity android:name=".activity.CardGameActivity"
			android:label="@string/app_name" android:noHistory="true"
			android:screenOrientation="portrait" />
		<activity android:name=".activity.CardGameLocalHighScoreActivity"
			android:label="@string/app_name" android:screenOrientation="portrait" />

		<!--Time rush game activities  -->
		<activity android:name=".activity.TimeRushGameActivity"
			android:label="@string/app_name" android:screenOrientation="portrait"
			android:noHistory="true" />
		<activity android:name=".activity.TimeRushGameLocalHighScoreActivity"
			android:label="@string/app_name" android:screenOrientation="portrait" />

	</application>
</manifest>